VITE_SUPABASE_URL=https://revhwwpnpffuymprwoef.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJldmh3d3BucGZmdXltcHJ3b2VmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwMDk3MDMsImV4cCI6MjA5MzU4NTcwM30.0-OwLwuuG3Jgf1WzDqfvRX1nQJUOAKaUyrVnk5xgqus